<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script type="text/javascript">
            $(function(){
                $('#add').click(function() {
                    var data = {};
                    <% columnInfos.forEach(function(colInfo) { %>
                        data.<%= colInfo['Field'] %> = $("#<%= colInfo['Field'] %>").val();
                    <% }) %>
                    console.log('click');
                    $.ajax({
                        type: 'POST',
                        data: JSON.stringify(data),
                        contentType: 'application/json',
                        url: 'http://localhost:3000/collection/<%= table %>',            // PROBLEM here!!!                   
                        success: function(data) {}
                    });

                    var newRow = '<div class="row">';
                    for (var key in data) {
                            newRow += '<div class="cell">' + data[key] + '</div>';
                    }
                    newRow += '<div class="cell">Update</div><div class="cell">Remove</div> </div>';
                    $(newRow).insertAfter("#insert");
                });
            })
            $(function(){
                $('#cancel').click(function() {
                    $('input').val('');
                });
            })
        </script>
    </head>
    <body>
        <% include menu %>
        <div class="wrapper">
        <div class="table">

            <div class="row header blue">
                <% columnInfos.forEach(function(colInfo) { %>
                <div class="cell">
                    <%= colInfo['Field'] %>
                </div>
                <% }) %>
                <div class="cell"></div>
                <div class="cell">Delete Collection</div>
            </div>

            <div class="row" id="insert">
                <% columnInfos.forEach(function(colInfo) { %>
                    <div class="cell">
                        <input type='text' name='data[<%= colInfo['Field']%>]' 
                                           id='<%= colInfo['Field'] %>' 
                                           placeholder='<%= colInfo['Type']%>' />
                    </div>
                <% }) %>
                <a><div class="cell" id="add">Add</div></a>
                <div class="cell" id="cancel"><a>Cancel</a></div>
            </div>

            <% collections.forEach(function(row) { %>
                <div class="row">
                <% for (var key in row) { %>
                    <div class="cell">
                    <%= row[key] %>
                    </div>
                <% } %>
                <div class="cell">Update</div>
                <div class="cell">Remove</div>
                </div>
            <% }) %>
        </div>
        </div>
    
    <%# include pager %>

    </body>
</html>